* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.itemcheck {
  color: #fff !important;
  background-color: rgba(1, 1, 1, 0.512) !important;
}
.licheck {
  color: #333 !important;
  background-color: #ebebeb !important;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: linear-gradient(90deg, rgba(0, 255, 111, 0.3), rgba(119, 0, 255, 0.2));
}
.container {
  width: 550px;
  height: 260px;
  margin: 150px auto;
}
.container .listleft {
  width: 150px;
  height: 260px;
  float: left;
  background-color: rgba(1, 1, 1, 0.3);
}
.container .listleft div[class*="item"] {
  cursor: pointer;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #ccc;
  font-size: 16px;
  border-bottom: none;
  background-color: rgba(1, 1, 1, 0.3);
  transition: all 0.3s;
}
.container .listleft div[class*="item"]:hover {
  color: #fff;
  background-color: rgba(1, 1, 1, 0.512);
}
.container .listleft ul {
  overflow: hidden;
  width: 150px;
  height: 0;
  /*100px*/
  transform: 0.2s;
}
.container .listleft ul li {
  cursor: pointer;
  color: #fff;
  width: 150px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: rgba(81, 81, 81, 0.3);
  transition: all 0.1s;
}
.container .listleft ul li:hover {
  color: #333;
  background-color: #ebebeb;
}
.container .content-right {
  box-sizing: border-box;
  padding: 10px;
  float: left;
  width: 400px;
  height: 260px;
  background-color: #eee;
}
.container .content-right li {
  display: none;
}
